<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/acceuil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>
</head>
<body >
   
    <main class="site-wrapper">
        <div class="nav">
            <a href="/" style="color: #f90a23;" class="retour">&#8592</a>
            <a href="/afficher" class="retour"><i class="fas fa-shopping-cart" style="font-size: 45px;"></i><span class="nbre" style="font-size: 20px;margin-bottom:10;" >1</span></a>
        </div>
        <div class="pt-table desktop-768">
          <div class="pt-tablecell page-home relative" >
        <div class="overlay"></div>

      
        <div class="container" style="z-index: -100;">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <div class="page-title  home text-center" style="text-align: center;">
                        <span class="heading-page" style="margin-top: 10px;"> Bienvennue a <strong>Piko</strong></span>
                                          <p class="mt20">Nous vous invitons à réserver votre table pour vivre une expérience culinaire exceptionnelle. Venez découvrir le charme unique du Restaurant PIKO et laissez-nous vous offrir un voyage gustatif mémorable.</p>
                    </div>
                    
                        <div class="hexagon-menu clear" >
                                           </div>
                                           <% if (recups) { %>
                                            <% recups.forEach(function(element) { %>
                                                
                                          <div class="hexagon-item">
                                            
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div style="border: 2Px solid white;"></div>
                                                  <div style="border: 2Px solid white;"></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a  class="hex-content" onclick=" nonbre()" >
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-bullseye"></i>
                                                      </span>
                                                      <span class="title" style="font-size: 20px;"><strong><%= element.nom %></strong></span> 
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><image class="img" href="/<%= element.image.replace(/\\/g, '/') %>" height="200" width="174" />
                                                </svg>
                                                
                                              </a>
                                              
                                            <span class="prix"><strong><%= element.prix %></strong></span><span>Cfa</span>
                                            

                                          </div>
                                          
                                          <% }); %>
                                          <% } %>
                                          
                                          

                
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
        </main>
        <script src="/javascripts/panier.js"></script>
</body>
</html>