<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/affiche.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>
</head>
<body >
    <div class="navre">
        <a href="/" style="color: #f90a23;" class="retour">&#8592</a>
        <a href="" style="color:#f90a23; font-size: 25px;" class="retour  tot"  >Total:<span class="totaux"style="color:#f90a23; font-size: 25px;"></span></a>
        
    </div>
    <div id="panier">
        
        <!-- Ajoutez plus d'articles ici -->
    </div>
    <div class="navres">
       <span><input type="text" class="num" placeholder="e numero de votre table a manger"></span> 
        <span><input type="submit" class="commande"></span>
    </div>
   
  
        <script src="/javascripts/afficher.js"></script>
        <!-- <script src="/javascripts/panier.js"></script>
        <script src="/javascripts/envoi.js"></script> -->
</body>
</html>