<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/affiche.css">
    <title>Document</title>
</head>
<body >
    <div id="panier">
       
        <!-- Ajoutez plus d'articles ici -->
    </div>
  
        <script src="/javascripts/afficher.js"></script>
        <script src="/javascripts/panier.js"></script>
</body>
</html>