<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/affiche.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/loader') %>
    <% if (ids) { %>
    <div class="navre">
        <a href="/acceuil?numtable=<%= ids %>" style="color: #FFC100;" class="retour">&#8592</a>
        <a href="#" style="color:#FFC100; font-size: 25px;" class="retour tot">
            Total: <span class="totaux" style="color:#FFC100; font-size: 25px;">0</span> fcfa
        </a>
    </div>
    <% } %>

    <div id="panier">
        <h3>Votre panier est vide cher client</h3>
    </div>

    <div class="navres">
        <input type="hidden" class="num" placeholder="Numéro de votre table à manger" required>
       
        <a href="#" class="annule">Annuler la commande</a>
        
            <a  class="alergie" href="#popup1" > votre alergie </a>
       
        <span>
            <input type="submit" class="commande" id="commande" value="Valider la commande">
        </span>
       
    </div>

    <!-- Modal pour confirmation d'annulation -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Confirmer l'annulation</h2>
            <p>Êtes-vous sûr de vouloir annuler la commande ?</p>
            <button id="confirmCancel" class="confirm-button">Oui, annuler</button>
            <button id="cancelCancel" class="cancel-button">Non, garder la commande</button>
        </div>
    </div>

    <!-- popup pour le formulaire darlergie -->
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2 id="msg" > </h2>
            <a class="close" href="">&times;</a>
            <div class="content">
                <div class="form">
                    <form class="login-form">
                        <input type="text" id="alergieInput" placeholder="alergie" required />
                        <div class="select-wrapper">
                          <select id="temperatureSelect" class="select">
                            <option value="froid">Froid</option>
                            <option value="tiède">Tiède</option>
                            <option value="chaude">Chaude</option>
                          </select>
                        </div>
                        <button type="button"  id="submitButton" class="soum">Soumettre</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
   

    <!-- Fichiers JavaScript -->
    <script src="/javascripts/afficher.js"></script>
    <script src="/javascripts/panier.js"></script>
    <script src="/javascripts/envoi.js"></script>
    <!-- <script src="/javascripts/modal.js"></script> -->
</body>
</html>
