<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <title>Document</title>
</head>
<body>
    <form action="/cathegorie" method="post" enctype="multipart/form-data">
        <h2>Formulaire de cathegorie plat</h2>
         <input type="text" placeholder="Entrer le nom de votre plat" name="nom" id="">
         <input type="file" placeholder="Entrer l'image de votre plat" name="image" id="">

        <button type="submit">Inserer</button>
    </form>
</body>
</html>