<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <title>Document</title>
</head>
<body>
    

    <form action="/admin/connexion" method="post" >
        <h2>Connexion Admin</h2>
        <% if ( typeof vv !== "undefined" && vv ) { %>
            <p><%= vv %></p>
            <% } %>
         <input type="email" placeholder="Entrer votre mail" name="email" id="" required>
         <input type="password" placeholder="Entrer password" name="password" id="" required>

        <button type="submit">Inserer</button>
    </form>
</body>
</html>