<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/connexion.css">
    <title>Document</title>
</head>
<body>
    

    <!-- <form action="/admin/connexion" method="post" >
        <h2>Connexion Admin</h2>
        <% if ( typeof vv !== "undefined" && vv ) { %>
            <p><%= vv %></p>
            <% } %>
         <input type="email" placeholder="Entrer votre mail" name="email" id="" required>
         <input type="password" placeholder="Entrer password" name="password" id="" required>

        <button type="submit">Inserer</button>
    </form> -->

    <section>
        <div class="container">
            <div class="formulaire">
                <form action="/admin/connexion" method="post">
                    <h2>Connexion Admin</h2>
                    <% if ( typeof vv !== "undefined" && vv ) { %>
                        <p class="message"><%= vv %></p>
                        <% } %>
                        <div class="input-container">
                            <img src="/picture/emailrb.png" width="30px" height="30px" alt="">
                            <input type="email"  name="email" id="" required>
                            <label for="#">Email</label>
                        </div>
                        <div class="input-container">
                            <img src="/picture/passwordrb.png" width="30px" height="30px" alt="">
                            <input type="password"  name="password" id="" required>
                            <label for="#">Password</label>
                        </div>
                     
                        <div class="input-containers">
                            <button type="submit">Inserer</button>
                        </div>
            
                    
                </form>
            </div>
        </div>
    </section>
    <%- include('partials/loader') %>
</body>
</html>