<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <title>Document</title>
</head>
<body>
    

    <form action="/admin/inscription" method="post">
        <h2>Inscription Admin</h2>
        <% if ( typeof vv !== "undefined" && vv ) { %>
            <p><%= vv %></p>
            <% } %>
         <input type="text" placeholder="Entrer votre nom " name="nom" id="" >
         <input type="email" placeholder="Entrer votre mail" name="email" id="" >
         <input type="password" placeholder="Entrer password" name="password" id="" >

        <button type="submit">Inserer</button>
    </form>
</body>
</html>