<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <h2>Formulaire de Menu</h2>
         <input type="number" placeholder="Entrer le numero de votre table a manger" name="num" id="">
        <label for="plat">Choisissez votre plat :</label>
        <select id="plat" name="plat">
            <option value="pasta">Pâtes</option>
            <option value="pizza">Pizza</option>
            <option value="salade">Salade</option>
            
            
      <!-- Ajoutez d'autres options selon vos besoins -->
        </select>

        <label for="boisson">Choisissez votre boisson :</label>
        <select id="boisson" name="boisson">
            <option value="eau">Eau</option>
            <option value="soda">Soda</option>
            <option value="jus">Jus</option>
            <!-- Ajoutez d'autres options selon vos besoins -->
        </select>

        <!-- Ajoutez d'autres champs au besoin -->

        <button type="submit">Commander</button>
    </form>
</body>
</html>