<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/qr.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/hearder2') %>
   
    


    <section>
        <div class="containers">
            <% if (recups) { %>
                <% recups.forEach(function(element) { %>
                    <div class="cardss">
                        <img src="<%= element.qrCodeData %>" alt="Image du Cadre" class="card-image">
                        <h2 class="card-title"><%= element.number %></h2>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </section>
    <%- include('partials/loader') %>
</body>
</html>