
body {
  background-image: url('../images/bg6.png');
  min-height: 100vh;
  width: 100%;
  background-size: cover;  
   /* background-position:center; */
  background-repeat: no-repeat; 
  z-index: -1; /* Place l'image derrière le contenu */
}
  
  

/* Styles pour les liens de navigation */
.navbar {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  color: black;
  max-height: 60px;
  z-index: 100;
  margin: 40px;
}
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
 
}

.nav-menu li {
  margin: 0 15px;
}
span{
  color: #FFC100;
}

.nav-menu a {
  color:#FFC100;
  text-decoration: none;
  font-size: 25px;
}

/* Menu hamburger - caché par défaut */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Menu - caché par défaut sur mobile */
.nav-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 10px;
  background-color:rgb(22, 21, 21);
  color: black;
  width: 200px;
  height: auto;
  padding:15px 5px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid white;
}

/* Affiche les éléments de menu quand la classe "active" est ajoutée */
.nav-menu.active {
  display: flex;
}

/* Media query pour les écrans plus petits */
@media (max-width: 834px) {
  .menu-toggle {
      display: block;
      color: black;
  }

  .nav-menu {
      display: none;
  }
}

/* la partie mon titre */
.titre {
  padding: 30px 0px;
  margin-top: 70px;
  text-align: center;
}
.titre h1 {
  color: white;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 0;
  position: relative;
  text-transform: capitalize;
}
.titre h1::before {
  background: white;
  width: 70px;
  height: 2px;
  position: absolute;
  content: '';
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titre h1::after {
  position: absolute;
  content: '';
  background: #FFC100;
  width: 30px;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* mes menu */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

.containero {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}



.container{
  width: 250px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

#card{
  width: 285px;
  height: 230px;
  background-color: rgb(41, 41, 41);
  border-radius: 0 .5rem .5rem 0;
  
}

img{
  width: 155px;
  height: 230px;
  object-fit: cover;
  border-radius: .5rem 0 0 .5rem;
}

.feature{

  float: left;
  margin: 15px 5px 15px 100px;
  background-color: rgb(56, 56, 56);
  padding: 20px;
  width: auto;
  height: 25px;
  border-radius: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.feature p{
 
  color:#ffc83d;  
  font-family: poppins, Arial, Helvetica, sans-serif;    
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: .1rem;
  
}

.cuisine{

  
  margin: 15px 25px 15px 5px;
  background-color: rgb(56, 56, 56);
  padding: 10px;
  height: 16px;
  width: 16px;
  border-radius: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dish{
  margin: -19px 25px -30px 20px;
  float: left;
}

h1{
  font-size: 1.4rem;
  font-family: poppins,Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 400;

}

.rating{

  float: left;
  margin: 0px 25px 0px 20px;
  height: 19px;
  
}
.rating p{
  
color: rgb(255, 255, 255);
font-family: open-sans, Arial, Helvetica, sans-serif;
}

.checked {
  color: orange;
}


.description{
  margin: 5px 20px 0px 20px;    
  float: left;
}
.description p {

  font-size: .95rem;
  color: rgb(163, 163, 163);
  font-family: open-sans, Arial, Helvetica, sans-serif;
  line-height: 1.1rem;
  margin-bottom: 10px;
}

.amount{
    float: left;
    margin: -18px 0px 0px 100px; 
}

.amount h3{

  color:#ffc83d; 
  font-family: poppins,Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: .05rem;

}

.cta .button{

  float: right;
  
  background-color:#ffc83d;
  border: 1px solid #ffc83d;
  color: #292929;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: .2rem;
  margin: 0px 10px 0px 0px;
  font-family: poppins,Arial, Helvetica, sans-serif ;
  font-weight: 600;
  transition-duration: 0.4s;
 cursor:pointer;
 text-decoration: none;
}
.cta .button:hover {
  background-color: #292929;
  border: 1px solid #ffc83d; ;
  color: #ffc83d;
}

body{
   background-color: rgb(224, 224, 224);
}
